/* Stjärnhimmel */
body {
  background-color: #111;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  justify-content: center;
  color: white;
}

.container {
  align-items: center;
}

.sky {
  animation: fade-in 3s;
}

.button {
  background-color: blue;
  color: aqua;
}

/* om man är i inkognite mode gör en echo som säger att lämna inkognito mode */
